/* 下部広告部分 */
/* items/index.htmlの広告cssを所々使いまわしています。 */

.ad-footer-contents {
  width: 100vw;
  background-image: image-url('Efishing.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10vh 15vh;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.maxim {
  font-size: 50px;
}

.text-block {
  width: 100vw;
  height: 15vh;
  text-align: center;
  font-size: 5vh;
  color: red;
  margin-top: 7vh;
}

.text {
  opacity: 0;
  -webkit-transition: opacity 2s ease;
  transition: opacity 2s ease;
  
}
.text.is-active {
  opacity: 1;
  -webkit-transition: opacity 2s ease;
  transition: opacity 2s ease;
}