<%# 下部広告部分 %>
<div class='ad-footer-contents'>
  <h2 class='maxim'>
      「釣りの格言」
  </h2>
  <div class =text-block>
    <ul>
      <li class="text is-active">釣れない時は魚が考える時間を与えてくれた与えてくれたと思えばいい</li>
      <li class="text">釣り人は、どんな冒険家よりも先回りしてそこにいる</li>
      <li class="text">釣りは盗むもんだ、聞くもんじゃない</li>
      <li class="text">魚釣りは数字のようなものだ。というのは、完全にマスターできないからだ</li>
    </ul>
  </div>
</div>